<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            padding: 20px;
            margin: 25px auto;
            text-align: center;
            width: 500px;
            border: 2px solid black;
        }
        h3{
            margin: 20px auto;
            text-align: center;
            color: rgb(189, 0, 0);
        }
        body{
            background-color: cadetblue;
        }
        .button{
            font-size: 30px;
            height: 80px;
            width: 200px;
            background-color: cadetblue;
            border: 3px solid blanchedalmond;
            color: blanchedalmond;
        }
        .div1{
            display: inline-block;
            width:500px;
            margin: 50px 700px;
        }
        .div2{
            margin: 0px 400px;
            display: flex;
            align-items: center;
        }
        .button:hover{
            background-color: blanchedalmond;
            color: black;
        }
        label{
            display: inline-block;
            font-size: 20px;
        }
        form{
            margin: 0px 100px;
        }
        #logout,#fine {
            margin: 0px 720px;
        }
        
    </style>
</head>
<body>
    <h1>CLIENT LOGGED IN</h1>
    <h3>you owe fine= <%=data%></h3>
    <div class="div1">
    <h2>AVAILABLE BOOKS ARE:</h2>
    <table>
        <% book_list.forEach(function(item) {%>    
       <tr>
           <td><%=item.title%></td>
       </tr>
       <% }) %>
    </table>
</div>
    <br><br><br><br>
<div class="div1"> 
    <h2>MY BOOKS ARE:</h2>
    
    <table>
        <% my_books.forEach(function(item) {%>    
            <tr>
                <td><%=item.title%></td>
            </tr>
            <% }) %>
    </table>
</div>
    <br><br><br><br>
<div class="div2">
    <form action="/checkInRequest" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit"  value="TAKE" class="button"/>
    </form>
    <br><br>
    <form action="/checkOutRequest" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit"  value="RETURN" class="button"/>
    </form>
</div >

<div class="div1"> 
    <h2> PENDING REQUESTS:</h2>
    
    <table>
        <% my_requests.forEach(function(item) {%>    
            <tr>
                <td><%=item.title%> </td>
                <% if(item.c==0){ %>
                    <td>- take request pending</td>
                <%}%>
                <% if(item.c==1){ %>
                    <td>- return request pending</td>
                <%}%>
            </tr>
            <% }) %>
    </table>
</div>
    <br><br>
    <!-- <input type="button" onclick="location.href='/fine'"  value="VIEW FINE" class="button" id="fine"/> -->
    <input type="button" onclick="location.href='/logout'"  value="LOGOUT" class="button" id="logout"/>
    

</body>
</html>