<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            margin-top: 200px;
            text-align: center;
        }
        body{
            background-color: cadetblue;
        }
        .button{
            font-size: 30px;
            height: 80px;
            width: 300px;
            background-color: cadetblue;
            border: 3px solid blanchedalmond;
            color: blanchedalmond;
        }
        div{
            margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .button:hover{
            background-color: blanchedalmond;
            color: black;
        }
    </style>
</head>
<body>
    
    <H1>WELCOME TO THE LIBRARY PORTAL!</H1>
<div>
    <form action="/" method="POST">
    
        <input type="button" onclick="location.href='/clientLogin'" value="Login as Client" class="button"/>
        <input type="button" onclick="location.href='/adminLogin';" value="Login as Admin" class="button" />
        <input type="button" onclick="location.href='/clientRegister';" value="Register as Client" class="button" />
        <input type="button" onclick="location.href='/adminRegister';" value="Register as Admin" class="button"/>
    </form>
</div>


</body>
</html>